.App {
  text-align: center;
}

@keyframes slideToLeft {
  from {left: 0%;}
  to {left: -100%;
  box-shadow: 0px 0px 0px 0px white;}
}

@keyframes slideToRight {
  from {left: 100%;}
  to {left: 0%;
  box-shadow: 10px 10px 10px 0px #F0F7E2;}
}


#singleItem {
  left: -100%;
}