.App {
  text-align: center;
}

@keyframes out {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOutCarousel {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes fadeInCarousel {
    from {
        opacity: 0;
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#singleItem {
    opacity: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.out {
  animation: out 500ms linear forwards;
}

.in {
  animation: in 500ms linear forwards;
}

#singleItem {
  left: -100%;
}

#miniTitle {
  animation: rightToLeft 1s ease-in-out forwards;
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: "#B3B3B3";
  width: 100vw;
}

#info {
  display: grid;
  grid-template-areas: "foto dataLagu silang";
  grid-template-columns: 35% 60% 5%;
}

#containerPict {
  grid-area: foto;
  display: flex;
  align-items: center;
}

#cross {
  grid-area: silang;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  #info {
    display: grid;
    grid-template-areas: "silang"
                          "foto"
                          "dataLagu";
    grid-template-columns: 100%;
    grid-template-rows: 10% 35% 55%;
  }
  
  #cross{
    justify-content: right;
  } 
}