/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  from {
    /* transform: translateX(100%); */
    opacity: 0;
  }
  to {
    /* transform: translateX(0); */
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }

}

.fade-in {
  animation: fadeIn 2s forwards;
}

.fade-in-2 {
  animation: fadeIn2 1s forwards;
}

.fade-out {
  animation: fadeOut 500ms forwards;
}